## Feature Selection

Hemos visto los distintos tipos de selección de variables que podemos utilizar. Ahora vamos a ver cual es el performance que tienen en distintos datasets y veremos si siempre suele ser mejor utilizar las mismas técnicas.

### 1. Carga los datos
Haz una carga de los datos (*default of credit card clients.xls*) y splitealos en train-test

#### Dataset a) Impago de tarjetas de credito (.xls)

In [7]:

import pandas as pd
import numpy as np

card_df = pd.read_excel("/home/personal/Repositories/data-science-the-bridge/3-machine-learning/2-No supervisado/2-Feature reduction/Practica/data/default of credit card clients.xls",
    skiprows = 1)

In [2]:
card_df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

#### Dataset b) Boston (importar desde sklearn)

In [11]:
from sklearn import datasets

boston_arr = datasets.load_boston()
type(boston_arr)
boston_df = pd.DataFrame(
    data = boston_arr.data,
    columns = boston_arr.feature_names)
boston_df["target"] = boston_arr.target

/home/personal/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

#### Dataset c) Digits (importar desde sklean)

In [12]:
from sklearn import datasets

digits_arr = datasets.load_digits()
digits_df = pd.DataFrame(
    data = digits_arr.data,
    columns = digits_arr.feature_names)
digits_df["target"] = digits_arr.target

### 2. Analiza los dataset
Comprueba que están limpios (NaN, outliers...). Haz la limpieza que veas oportuna

In [6]:
boston_target_df.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

### 3. Selección de variables
Cada una de las selecciones de variables que se indica que hay que hacer hay que hacerlas para cada dataset

#### a) PCA

#### b) Una selección supervisada tipo wrapper

#### c) Una selección supervisada tipo filtrado

#### d) Una selección supervisada tipo intrinseca

#### b) Una selección no supervisada

### 4. Genera un modelo
Cada modelo habrá que generarlo para cada tipo de selección de variable

#### a) Arbol de decisión

#### b) SVM

### 5. Evalua los modelos
Evalua la calidad de los modelos

### 6. Muestra la calidad de cada modelo
Para cada dataset habrá que hacer un heatmap